@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font-family{
    font-family: "Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #1A0B2E; */
}

/* header section */

.navbar{
    /* border: 1px solid rgb(201, 14, 14); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 200px;
    padding-left: 200px;
    height: 92px;
    background-color: #1A0B2E;
}

.nav-head h1{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 2.5rem;
}

.nav-head h1 span{
    /* color: #ff00cc; */
    background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 700;
    font-size: 2.5rem;
    display: inline-block;
}

.nav-manu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    
}
.nav-manu li{
    list-style: none;
    
    
}
.nav-manu a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    
}

/* button */

.nav-btn{
    /* border: 1px solid wheat; */
    padding-top: 12px;
    padding-left: 16px;
    padding-bottom: 12px;
    padding-right: 20px;
    background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 50px;
    border: none;

}
.nav-btn i{
    background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
    color: #FFFFFF;
}

/* main section */

.banner{
    background-image: url(../assets/hero-bg.png);
    max-width: 1600px;
    width: 100%;
    height: 760px;
    margin: 0 auto;
    border-top: 1px solid rgba(128, 128, 128, 0.24);
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
.banner-hero{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: linear-gradient(135deg,#F7E93F, #FB09B4, #9100F8);
    display: flex;	
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;	
    left: 625px;
    border: 5px solid #2A186C;

}
.banner-img{
    width: 116px;
    height: 175px;
    position: relative;
    left: 740px;
    top: -160px;
}
.banner-new{
    /* border: 1px solid red; */
    background-color: #00FF88;
    width: 70px;
    height: 36px;
    padding: 8px 16px;
    border-radius: 50px;
    position: relative;
    left: 900px;
    top: -400px;
    box-shadow: 0 0 15px 5px rgba(0, 255, 136, 0.6);
    border: none;
}







/* About-section */

.about-dexcription{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background-color: #1A0B2E;
}

.about-dexcription h1{
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    padding-top: 50px;
}

.about-dexcription p{
    font-size: 1rem;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.322);
}

.stats{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 40px;
    text-align: center;
    background-color: #1A0B2E;

}
.stats-box h2{
    font-size: 3rem;
    color: #00FF88;
}
.stats-box p{
    font: 1rem;
    color: #FFFFFF;
    line-height: 20px;
    font-style: initial;
}

/* chose-container */


.chose-container{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    padding-top: 120px;
    padding-bottom: 120px;
}
.chose-container h1{
    font-size: 1.5rem;
    color: #FFFFFF;
    font-weight: 700;
    padding-top: 16px;
    padding-bottom: 16px;
}
.chose-container p{
    font-size: 1rem;
    color: #ffffffbe;
    line-height: 24px;
}
.chose-container .header{
    color: #FFFFFF;
    text-align: center;
    font-size: 3rem;
    padding-bottom: 40px;

}
.grid-section{
    /* background-color: #351165; */
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(3 , 1fr);
}
.Choose-card-1{
    background-color: #351165;
    padding: 120px 40px;
    border-radius: 30px;
    grid-column: span 1;
    grid-row: span 2;
}

.Choose-card-2{
    background-color: #351165;
    padding: 40px;
    border-radius: 30px;
    grid-column: span 2;
    grid-row: span 1;
}
.Choose-card-3{
    background-color: #351165;
    padding: 40px;
    border-radius: 30px;
    grid-column: span 2;
    grid-row: span 1;
}

.Choose-card-4{
    background-color: #351165;
    padding: 40px;
    border-radius: 30px;
    grid-column: span 2;
    grid-row: span 1;
}
.Choose-card-5{
    background-color: #351165;
    padding: 40px;
    border-radius: 30px;
    grid-column: span 1;
    grid-row: span 1;
}

/* host section */
.episode-container{
    padding-top: 120px;
    padding-bottom: 120px;
    /* max-width: 1200px;
    width: 100%; */
    
    background-color: #1A0B2E;
}
.episodes-section{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 30px;

}
.episode-head{
    text-align: center;
    padding-bottom: 40px;
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
}
.episode-vedio{
    /* border: 1px solid red;     for working help */
    background-color: #250D44;
    border-radius: 20px;
}

.episode-vedio h1{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 700;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 24px;
    padding-bottom: 12px;
}
.episode-vedio p{
    font-size: 1rem;
    line-height: 24px;
    color: #FFFFFF;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 24px;
    padding-bottom: 12px;
}


.episode-vedio iframe{
    
    max-width: 380px;
    width: 100%;
    height: 214px;
    border-radius: 20px;
}
#time{
    color: #00FF88;
    display: flex;
    align-items: center;
    gap: 6px;
    
}
#time img{
    width: 13px;
    height: 13px;
}

.episode-head-2{
    text-align: center;
    padding-top: 120px;
    padding-bottom: 40px;
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
}

.our-host{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background-color: #351165;
    gap: 10px;
    border-radius: 30px;

}
.our-host img{
    width: 200px;
    height: 200px;
    padding: 20px 20px;
    /* padding: 40px 48px; */
}
.host-description h2{
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 16px;
}
.host-description p{
    font-size: 1rem;
    line-height: 24px;
    color: #ffffffc0;
    padding-bottom: 16px;

}
.host-description i{
    font-size: 22px;
    margin-right: 12px;
    cursor: pointer;
    background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}