@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font-family{
    font-family: "Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #1A0B2E; */
}

/* header section */

.navbar{
    /* border: 1px solid rgb(201, 14, 14); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 200px;
    padding-left: 200px;
    height: 92px;
    background-color: #1A0B2E;
}

.nav-head h1{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 2.5rem;
}

.nav-head h1 span{
    color: #ff00cc;
    font-weight: 700;
    font-size: 2.5rem;
}

.nav-manu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    
}
.nav-manu li{
    list-style: none;
    
    
}
.nav-manu a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    
}

/* button */

.nav-btn{
    /* border: 1px solid wheat; */
    padding-top: 12px;
    padding-left: 16px;
    padding-bottom: 12px;
    padding-right: 20px;
    background-color: #ff00cc;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 50px;
    border: none;

}
.nav-btn i{
    background-color: #ff00cc;
}

/* main section */









/* About-section */

.about-dexcription{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background-color: #1A0B2E;
}

.about-dexcription h1{
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    padding-top: 50px;
}

.about-dexcription p{
    font-size: 1rem;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.322);
}

.stats{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 40px;
    text-align: center;
    background-color: #1A0B2E;

}
.stats-box h2{
    font-size: 3rem;
    color: #00FF88;
}
.stats-box p{
    font: 1rem;
    color: #FFFFFF;
    line-height: 20px;
    font-style: initial;
}

/* chose-container */


.chose-container{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    padding-top: 120px;
}
.chose-container h1{
    font-size: 1.5rem;
    color: #FFFFFF;
    font-weight: 700;
    padding-top: 16px;
    padding-bottom: 16px;
}
.chose-container p{
    font-size: 1rem;
    color: #ffffffbe;
    line-height: 24px;
}
.chose-container .header{
    color: #FFFFFF;
    text-align: center;
    font-size: 3rem;
    padding-bottom: 40px;

}
.grid-section{
    /* background-color: #351165; */
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(3 , 1fr);
}
.Choose-card-1{
    background-color: #351165;
    padding: 120px 40px;
    border-radius: 30px;
    grid-column: span 1;
    grid-row: span 2;
}

.Choose-card-2{
    background-color: #351165;
    padding: 40px;
    border-radius: 30px;
    grid-column: span 2;
    grid-row: span 1;
}
.Choose-card-3{
    background-color: #351165;
    padding: 40px;
    border-radius: 30px;
    grid-column: span 2;
    grid-row: span 1;
}

.Choose-card-4{
    background-color: #351165;
    padding: 40px;
    border-radius: 30px;
    grid-column: span 2;
    grid-row: span 1;
}
.Choose-card-5{
    background-color: #351165;
    padding: 40px;
    border-radius: 30px;
    grid-column: span 1;
    grid-row: span 1;
}